/* imageset
---------------------------------------------------*/

.minilogo {
    background-image: url("./images/mini-logo.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;
	width: 70px;
	height: 70px;

}
